
//== Container main content style, used on page template

main.container {
    padding: 0;
    > .cmp-container{
        margin: 0 auto;
        padding-bottom: 100px;
    }
    @media (min-width: 576px) {
        > .cmp-container{
            max-width: 540px;
        }
    }
    @media (min-width: 767px) {
        > .cmp-container{
            max-width: 960px;
        }
    }
    @media (min-width: 1200px) {
        > .cmp-container{
            max-width: 1140px;
        }   
    }
}
