
//== XF Footer style, used on page template

footer.experiencefragment {
    padding: 100px 1em;
    background: $color-foreground;
    color:#FFFFFF;
    .container{
        .cmp-container{
            max-width: 920px;
            position: relative;
            margin: 0 auto;
            border-bottom: 1px solid lighten($black,46%);
            border-top: 1px solid lighten($black,46%);
            display: flex;
            justify-content: space-between;
            padding: 80px 40px 20px;

            h4{
                font-weight: 600;
                font-size: 14px;
                text-transform: uppercase;
                margin: 0 0 19px;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
                li{
                    padding: 3px 0;
                    a{
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-weight: 300;
                        color:lighten($black,46%);
                        &:hover{
                            text-decoration: none;
                            color:lighten($black,56%);
                        }
                    }
                }
            }
        }
    }
}