.cmp-breadcrumb {
  position: relative;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  border-bottom: solid 1px lighten($black, 84%);
  padding: 20px 0;
}

.aem-AuthorLayer-Edit{
  .cmp-breadcrumb {
    position: relative;
    display: block;
    border-bottom:solid 1px lighten($black, 84%);
    padding: 20px 0;
  }
}

.cmp-breadcrumb__list {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  padding:0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.cmp-breadcrumb__item {
  padding-right: 7px;
  &::after{
    content: '>';
    font-size: 14px;
    font-weight: 300;
    margin-left: 7px;
  }
}
.cmp-breadcrumb__item--active {
  font-weight: bold;
  color: $color-primary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 350px;
  display: inline-block;
  &::after{
    display: none;
  }
}
.cmp-breadcrumb__item-link {
  color: $color-primary !important;
  text-decoration: none;
  &:hover{
    color:$color-primary-hover;
  }
}