.text__article-date{
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #272727;
    font-family: futura-pt, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin: 0 auto 15px;
    font-size: 1rem;
    text-align: right;
}

.button__article-tag{
    color: rgb(220, 56, 57);
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    background-color: transparent;
    max-width: fit-content;
    a{
        color: rgb(220, 56, 57);
    }
    .cmp-button__text{
        padding-right: .8rem;
    }
}

.container__article-details > .cmp-container > .aem-Grid{
    display: flex;
    align-items: baseline;
}