.text__article-date{
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #272727;
    font-family: futura-pt, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.25;
    margin: 0 auto 15px;
    font-size: 1rem;
    text-align: right;
}