
//== Font

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$font-family:           "Figtree", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.3;

//== Color
$black: #000;
$white:    #ffffff;
$blue: #004990;
$red: #DC3839;

// Normal mode

$color-primary:       lighten($black,15%);
$color-primary-hover: lighten($black,50%);

$color-secondary:       $blue;
$color-secondary-hover: darken($color-secondary, 80%);

$color-foreground:      $color-primary;
$color-background:      $white;
$color-link:            $color-secondary;
